.page-container
{
    width:100%;

}
.main-strip
{
    max-width:48rem;
    flex-wrap:wrap;
    flex-direction: column;
}

.user-card
{
    gap: 0.5rem;
    padding: 0.5rem;
    width:16rem;
    margin:1rem;
}

.username
{
    gap:0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

ion-grid, ion-list
{
    width:100%;
}