<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--div class="flex-center-big">
    <ion-text></ion-text>
    <ion-button (click)="logOut()">Log out</ion-button>
    <ion-button (click)="clearLocalStorage()">Clear local storage</ion-button>
  </div-->

  <div class="half top">
    <ion-avatar></ion-avatar>
    <ion-text>Name</ion-text>
  </div>
  <div class="half bottom">
    <ion-card>View Musicians</ion-card>
    <ion-card>View Bands</ion-card>
    <ion-button (click)="logOut()">Log out</ion-button>
    <ion-button (click)="clearLocalStorage()">Clear local storage</ion-button>
  </div>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let musician of musicianList">
        {{musician.name}}
        <app-genre-chip genreId={{musician.genre}}></app-genre-chip>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
