<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>stage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="opponent-stats">opponent stats
    <app-stat-block
     *ngFor="let opponent of opponentBand"
     [musician]="opponent"
    ></app-stat-block>
  </div>
  <div class="opponent-sprites">opponent sprites</div>
  <div class="ally-sprites">ally sprites</div>
  <div class="ally-stats">ally stats</div>
  <div class="caption">caption</div>
  <div class="control">control</div>
</ion-content>
