<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discovery" href="/tabs/discovery">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Discovery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="battle" href="/tabs/battle">
      <ion-icon aria-hidden="true" name="musical-notes-outline"></ion-icon>
      <ion-label>Battle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
