<div class="parent-container">
  <app-caption *ngIf="selfStatus=='turnStart'" text="It's your turn!" (click)="startTurn()"></app-caption>



  <div *ngIf="selfStatus=='musicianChoice'">
    <div class="flex-center hint">
      <ion-text>Choose a musician!</ion-text>
    </div>
    <div class="flex-center button-container">
      <app-stat-card
        *ngFor="let musician of battle.band1"
        [musician]="musician"
        [clickable]="true"
        [disabled]="musician.hasAlreadyTakenTurn"
        (click)="selectMusician(musician)">
      </app-stat-card>

    </div>
  </div>



  <div *ngIf="selfStatus=='techChoice'">
    <div class="flex-center hint">
      <ion-button *ngIf="selfStatus=='techChoice'" color="dark" fill="clear" (click)="goBack()">
        <ion-icon color="danger" name="play-back"></ion-icon>
      </ion-button>
      <ion-text>Choose a technique</ion-text>
    </div>

    <div class="flex-center button-container">
      <app-tech-card
      *ngFor="let technique of techniques"
      [technique]="technique"
      (click)="selectTechnique(technique)"
      ></app-tech-card>
    </div>
  </div>



  <div *ngIf="selfStatus=='targetChoice'">
    <div class="flex-center hint">
      <ion-button *ngIf="selfStatus=='targetChoice'" color="dark" fill="clear" (click)="goBack()">
        <ion-icon color="danger" name="play-back"></ion-icon>
      </ion-button>
      <ion-text>Choose a target!</ion-text>
    </div>
    <div class="flex-center button-container">
          <app-stat-card
          *ngFor="let target of targets"
          class="option-card"
          [musician]="target"
          (click)="selectTarget(target)"
          [clickable]="true"
          [disabled]="!target.targetable"
          ></app-stat-card>
    </div>
  </div>



  <app-caption *ngIf="selfStatus=='turnEnd'" text="It's the opponent band's turn!" (click)="startTurn()"></app-caption>
</div>