.parent-container
{
    height:10rem;
}

.hint
{
    height:2rem;
    font-size: 1.25rem;
}

.button-container
{
    flex-wrap:wrap;
}



ion-grid
{
    height:8rem;
    padding:0;
    margin:0;
}

ion-row
{
    height:50%;
    padding:0;
    margin:0;
}

ion-col
{
    padding: 0;
    margin: 0.1rem 0rem 0.1rem 0rem;
}